{% extends "base.html" %}
{% load static %}
{% block content %}

        <main id="main-cont">
            <div class="box-msj">
                <span
                    >¡Aprovechá las ofertas del mes! 15% en productos y
                    servicios!</span
                >
            </div>
            <div class="items">
                <a href="#" class="productos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/p1.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">$30000</span>
                            <span class="item-promo"
                                >Zapatillas Nike T38-42</span
                            >
                        </div>
                    </div>
                </a>
                <a href="#" class="productos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/p2.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">$91560</span>
                            <span class="item-promo">SAMSUNG M13 - Blue</span>
                        </div>
                    </div>
                </a>

                <a href="#" class="productos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/p3.jpeg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">$56450</span>
                            <span class="item-promo">Harry Potter 1-7</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="vehiculos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/v2.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$5200</span>
                            <span class="item-promo">Gol TREND</span>
                        </div>
                    </div>
                </a>

                <a href="#" class="vehiculos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/v1.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$6000</span>
                            <span class="item-promo">Honda Civic</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="servicios">
                    <div class="box-item">
                        <img
                            src="{%static 'media/img/vender/s1.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">CONSULTAR</span>
                            <span class="item-promo">Arquitectos D&S</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="vehiculos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/v3.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$8000</span>
                            <span class="item-promo">Toyota Etios</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="vehiculos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/v4.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$75000</span>
                            <span class="item-promo">Nissan</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="inmuebles">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/i1.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$30000</span>
                            <span class="item-promo">Casa Chalet, Bs As</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="productos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/p4.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">$20800</span>
                            <span class="item-promo">Xiaomi Band 6</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="productos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/p5.jpg' %}" 
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">$20000</span>
                            <span class="item-promo">Ventilador Liliana</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="inmuebles">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/i2.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">$65000</span>
                            <span class="item-promo">Alquiler Duplex</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="servicios">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/s2.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">CONSULTAR</span>
                            <span class="item-promo">Servicio de plomería</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="inmuebles">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/i3.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$65</span>
                            <span class="item-promo">Alquiler por día</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="inmuebles">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/i4.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$100/día</span>
                            <span class="item-promo">Casa en las montañas</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="inmuebles">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/i5.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$150/día</span>
                            <span class="item-promo">Casa en las montañas</span>
                        </div>
                    </div>
                </a>

                <a href="#" class="servicios">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/s3.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">CONSULTAR</span>
                            <span class="item-promo">Electricista</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="servicios">
                    <div class="box-item">
                        <img
                            src="{% static 'media\img\vender\s4.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">CONSULTAR</span>
                            <span class="item-promo">Fumigaciones</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="servicios">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/s5.png' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">CONSULTAR</span>
                            <span class="item-promo"
                                >Limpieza para tu hogar</span
                            >
                        </div>
                    </div>
                </a>
                <a href="#" class="vehiculos">
                    <div class="box-item">
                        <img
                            src="{% static 'media/img/vender/v5.jpg' %}"
                            alt=""
                        />
                        <div class="item-text">
                            <span class="item-precio">USD$4000</span>
                            <span class="item-promo">Corsa Classic 3P</span>
                        </div>
                    </div>
                </a>
            </div>
        </main>
        {% block styles %}
        <link rel="stylesheet" href="{% static './css/style.css' %}" />
        {% endblock %}
        {% endblock %}
